/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}


/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }
  
  .mat-table {
    display: table;
    width: 100%;
}


.mat-header-row,  .mat-row {
  display: table-row;
  padding: 0;
  border: none;

}


.mat-header-cell,  .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-column-userName {
  display: flex;
  text-align: center;
  } 


  .cdk-column-filterUserId {
    width: 15px;
    text-align: right;
    padding: 0;
  }
  

  .cdk-column-filterColor {
    width: 15px;
    text-align: right;
    padding: 0;
  }
  
  .demo-chip-list {
    width: 100%;
  }